.footer {
	min-height: 90px;
	background: $gray;
	display: flex;
	align-items: center;
	font: 16px/25px $font;
	color: #b9b9b9;
	&__copy {
		
		
	}
	&__logo {
		font: 25px/25px $logo-text;
		color: #b9b9b9;
		text-decoration: none;
	}
	&__author {
			&-span {
				font-weight: 700;
				color: #ff2b58;
			}
	
	}
}