.service {
	padding: 100px 0 150px ;
	background:	#70bfff;
	color: $gray;


	&__button {
	display: flex;
	margin: 0 auto;
	max-width: 400px;
	background: #fff;
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
	box-shadow: 2px 2px 5px lighten(#000000, 50%);
	cursor: pointer;
		&:hover {
			transform: scale(1.02);
			box-shadow: 2px 2px 10px lighten(#000000, 20%);
		}	
		&:first-child {
			margin-top: 70px;
		}
	}
	&__button-text {
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 700 20px/27px $font;
	}



	&__img-wrap {
	width: 100px;
	display: flex;
		justify-content: center;
		align-items: center;
		border-left: 1px solid #9d9d9d;
	}
	&__img {
	
	}
	&__image {
		position: relative;
		display: flex;
		justify-content: center;
	}
	&__title {
		font: 700 90PX $font;
		color: #fff;
		@include pos($t: 40%, $l: 0);
		pointer-events: none;
	}
}